.source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}
.text-font-size {
  font-size: 18px;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.line-height {
  line-height: 1.6em;
}
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-animation: bugfix infinite 1s;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}
body.pictured {
  height: 100%;
}
body.pictured #skin_wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
body.pictured .container.main_page_wrapper {
  height: 100%;
  min-height: 100%;
}
body.pictured .panel {
  color: #333;
}
body.pictured .panel a:not([class]) {
  color: #337ab7;
  text-decoration: none;
}
body.pictured .panel a:not([class]):hover {
  color: #23527c;
  text-decoration: underline;
}
body.pictured .panel input {
  -webkit-font-smoothing: subpixel-antialiased;
}
#bg_picture {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: -999999;
}
#bg_picture img {
  display: none;
  width: 100%;
}
.evo_container__header {
  margin-bottom: 30px;
}
.evo_container__page_top {
  margin-top: 20px;
}
div.widget_core_coll_title h1 {
  margin-bottom: 12px;
}
div.widget_core_coll_title h1 a {
  font-size: 55px;
  letter-spacing: 5px;
  pointer-events: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
div.widget_core_coll_tagline {
  font-size: 22px;
  font-style: italic;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-family: serif;
}
div.front_main_area .front_main_content {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
}
div.front_main_area div.widget {
  margin: 30px 0;
}
div.front_main_area .jumbotron {
  background-color: transparent;
}
.evo_container__footer {
  background-color: #FFF;
}
.evo_container__footer p {
  margin-top: 10px;
}
.evo_container__front_page_secondary {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 30px;
}
.evo_container__front_page_secondary .widget_core_coll_title a:hover {
  color: #333;
}
.widget {
  text-align: left;
  width: 100%;
}
.widget_core_user_login #login_form .form-group {
  margin: 0;
}
.widget_core_user_login #login_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_login #login_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_login #login_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_login .submit {
  font-size: 12px;
}
.widget_core_user_login .field_login_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_login .field_login_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_login .field_login_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
.widget_core_user_login .register_link {
  display: block;
  padding-top: 10px;
}
.widget_core_user_register #register_form .form-group {
  margin: 0;
}
.widget_core_user_register #register_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_register #register_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_register #register_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_register .submit {
  font-size: 12px;
}
.widget_core_user_register .field_register_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_register .field_register_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_register .field_register_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
ul.profile_tabs {
  margin: 0 2ex 2ex;
  position: relative;
  top: 1px;
}
.profile_avatar {
  float: right;
  padding: 10px;
  margin-left: 10px;
}
.evo_form {
  border-color: #DDD;
  padding: 1em;
}
.evo_form .controls textarea.form-control {
  width: 100%;
}
form.evo_form {
  margin-bottom: 2em;
  text-align: left !important;
}
form.evo_form .small.text-muted {
  margin: 4px 0 10px;
}
form.evo_form .small.text-muted a,
form.evo_form .small.text-muted a .glyphicon {
  color: inherit;
}
form.evo_form .form-group .control-buttons .SaveButton.btn-primary {
  font-size: 16px;
  padding: 15px 10px;
  background-color: #697b94;
  border: 1px solid #697b94;
  margin: 5px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
form.evo_form .form-group .control-buttons .SaveButton.btn-primary:hover {
  background: rgba(255, 255, 255, 0.5) !important;
  color: #697b94;
}
form.evo_form .form-group .control-buttons .SaveButton.btn-info {
  font-size: 16px;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px;
  background: rgba(255, 255, 255, 0.5) !important;
  color: #697b94;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
form.evo_form .form-group .control-buttons .SaveButton.btn-info:hover {
  border: 1px solid #697b94;
  background-color: transparent;
}
input.search_field {
  margin-bottom: 0;
  display: inline-block;
}
form.search .search_options {
  width: 100%;
}
form.search .search_options .search_option input {
  margin-right: 5px;
}
form.search .search_options .search_option label {
  margin-bottom: 0;
  margin-top: 5px;
}
div.compact_search_form input.search_field {
  width: 100%;
  margin: 0;
}
div.extended_search_form {
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 530px;
}
div.extended_search_form .search_options {
  text-align: center;
}
div.extended_search_form .search_options .search_option {
  display: inline-block;
  margin-right: 10px;
}
table.catselect input#new_category_name {
  width: 98% !important;
}
label.control-label[for=post_title] {
  width: auto;
}
.item_tags td.label {
  background: none;
  color: #000;
  text-shadow: none;
  padding: 0;
  font-size: 100%;
}
.item_tags td.input {
  width: 90%;
}
.item_tags td.input label {
  display: none;
}
.item_tags .controls {
  margin-left: 0;
}
.evo_private_messages_list .evo_form {
  background: none;
}
textarea.message_text {
  width: 95%;
}
.comment_form h3 {
  margin: 0;
}
.comment_form .panel {
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.comment_form .panel .panel-body {
  padding: 0;
}
.evo_form {
  border: none;
  padding: 0;
  overflow: visible;
}
.evo_form .form-actions {
  margin-bottom: 0;
}
.evo_form div.form-group,
.evo_form div.custom_content {
  padding: 0 20px;
}
.evo_form fieldset {
  margin-top: 0;
}
.evo_form input[type=file] {
  display: inline;
}
#comment_date_field input {
  width: 80px;
}
#comment_date_field label {
  font-weight: normal;
}
.form-group[id^="ffield_uploadfile"] .controls {
  padding-top: 5px;
}
.form-group[id^="ffield_uploadfile"] .controls input {
  line-height: 10px;
}
.comment_rating {
  margin-top: 2px;
}
#comment_edit .comment_rating {
  margin-top: 9px;
}
.ratings_table {
  margin-bottom: 10px;
}
.ratings_table .rating_summary {
  border-spacing: 1px;
  border-collapse: separate;
}
.ratings_table .progress {
  border-radius: 0;
  height: 13px;
}
#comment_preview {
  background-color: #FFF;
}
#comment_date_field .panel {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}
#comment_date_field .panel .panel-body {
  padding: 0;
}
#comment_date_field .panel .panel-body .control-label {
  font-weight: bold;
}
#comment_date_field .panel .panel-body .controls .form-group {
  display: inline-block;
  padding-left: 15px;
  margin-bottom: 0;
}
form#user_checkchanges.evo_form {
  border: none;
}
div.bSideItem {
  background: #F7F5FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #FFFFFF;
}
div.bSideItem h4 {
  margin-top: 0;
}
.skin-form .panel-body .panel {
  border: none;
  box-shadow: none;
}
.skin-form .panel-body .panel-body {
  padding: 0;
}
.skin-form .fieldset {
  margin: 0;
}
.skin-form .fieldset div.input {
  margin: 0;
}
.skin-form .control-buttons,
.skin-form div.input {
  padding: 0;
  width: 100%;
  text-align: center;
}
.evo_panel__login,
.evo_panel__lostpass,
.evo_panel__register,
.evo_panel__activation {
  min-width: 290px;
  margin: 1.5em auto auto;
}
.evo_panel__login .panel,
.evo_panel__lostpass .panel,
.evo_panel__register .panel,
.evo_panel__activation .panel {
  margin: 5px 0;
}
.evo_panel__login .panel-body,
.evo_panel__lostpass .panel-body,
.evo_panel__register .panel-body,
.evo_panel__activation .panel-body {
  padding: 20px 30px 0;
}
.evo_panel__login {
  max-width: 400px;
}
.evo_panel__lostpass {
  max-width: 480px;
}
.evo_panel__lostpass #ffield_x label {
  display: none;
}
.evo_panel__activation {
  max-width: 530px;
}
.evo_panel__activation #activateinfo_form .control-buttons {
  text-align: left;
}
.evo_panel__register {
  max-width: 580px;
}
.evo_panel__register .control-buttons {
  text-align: left;
}
.evo_panel__register.register-disabled {
  width: 350px;
}
.evo_panel__register .form-control#country,
.evo_panel__register .form-control#u {
  width: 100%;
}
.evo_form__login_links {
  padding: 0 5px;
  font-size: 92%;
}
.evo_form__login fieldset {
  margin-bottom: 20px;
}
.evo_form__login .controls {
  padding: 0;
  margin: 0;
  width: 100%;
}
.evo_form__login .control-buttons {
  margin-left: 0;
}
.evo_form__login input.form-control[type=text],
.evo_form__login input.form-control[type=password] {
  width: 100%;
}
.evo_form__login .btn {
  margin-top: 5px;
}
.evo_form__login .form-actions {
  padding: 0;
  margin: 0 0 20px;
  background: none;
  border: none;
}
#login_form .control-buttons {
  text-align: left;
}
.standard_login_link {
  text-align: center;
  margin: 3em 0 1ex 0;
}
.form_footer_notes {
  margin-top: 0;
}
.pagination {
  margin: 0;
}
.pagination li span {
  border-radius: 0px 0px 0px 0px !important;
  border: 1px solid #333;
  color: #333;
  margin-right: 5px;
  background-color: white;
}
.pagination li span:hover {
  background-color: white;
  border: 1px solid #333;
  color: #333;
}
.pagination li:first-child a,
.pagination li:first-child span {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: 0;
}
.pagination li a {
  border-radius: 0px 0px 0px 0px !important;
  border: 1px solid #bbb;
  color: #bbb !important;
  margin-right: 5px;
  background-color: white;
}
.pagination li a:hover {
  background-color: white;
  border: 1px solid #333;
  color: #333 !important;
}
.pagination li a:before {
  background: none;
}
.filter_item div {
  height: 22px;
}
div.action_messages,
div.log_container {
  margin: 0;
}
.post_title {
  display: table;
}
.post_title h2 {
  display: table-cell;
  margin: 0;
  padding: 20px 0 10px;
}
.post_title .btn-group {
  display: table-cell;
  padding: 20px 0 10px 30px;
  vertical-align: middle;
}
.evo_container__footer .widget_core_coll_post_list ul li {
  text-align: center;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin: 1.3%;
  width: 30%;
  border: 1px solid #eee;
  padding: 25px;
}
.evo_container__footer .widget_core_coll_post_list ul li a {
  color: #5d4a55 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.evo_container__footer .widget_core_coll_post_list ul li a:hover {
  text-decoration: none;
}
.evo_container__footer .widget_core_coll_post_list ul li .item_images img.loadimg {
  max-width: 320px;
  border-radius: 5px;
}
.evo_container__footer .widget_core_coll_post_list .default {
  display: inline-block;
  vertical-align: bottom;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.evo_container__footer .widget_core_coll_post_list .default:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #333;
  padding-bottom: 2px;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.evo_container__footer .widget_core_coll_post_list .default:hover:before,
.evo_container__footer .widget_core_coll_post_list .default:focus:before,
.evo_container__footer .widget_core_coll_post_list .default:active:before {
  right: 0;
}
body.pictured .front_main_content .ufld_icon_links a {
  margin: 5px;
}
body.pictured .front_main_content .ufld_icon_links a .fa {
  font-size: 20px;
  line-height: 40px;
}
.widget_core_org_members {
  margin: 5em 0 30px;
  color: #333;
}
.widget_core_org_members img {
  width: 120px;
  height: 120px;
  display: inline-block;
  border-radius: 5px;
}
.widget_core_org_members p.user_field {
  margin-bottom: 40px;
}
.widget_core_coll_avatar,
.widget_core_coll_tag_cloud,
.widget_core_coll_common_links,
.widget_core_coll_search_form,
.widget_core_coll_xml_feeds,
.widget_core_content_hierarchy,
.widget_core_coll_link_list,
.widget_plugin_evo_Calr,
.widget_plugin_evo_Arch,
.widget_plugin_evo_WhosOnline,
.widget_core_user_tools,
.widget_core_coll_item_list {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 15px !important;
}
.widget_core_coll_avatar .loadimg,
.widget_core_coll_tag_cloud .loadimg,
.widget_core_coll_common_links .loadimg,
.widget_core_coll_search_form .loadimg,
.widget_core_coll_xml_feeds .loadimg,
.widget_core_content_hierarchy .loadimg,
.widget_core_coll_link_list .loadimg,
.widget_plugin_evo_Calr .loadimg,
.widget_plugin_evo_Arch .loadimg,
.widget_plugin_evo_WhosOnline .loadimg,
.widget_core_user_tools .loadimg,
.widget_core_coll_item_list .loadimg {
  border-radius: 5px;
}
.widget_core_coll_avatar a,
.widget_core_coll_tag_cloud a,
.widget_core_coll_common_links a,
.widget_core_coll_search_form a,
.widget_core_coll_xml_feeds a,
.widget_core_content_hierarchy a,
.widget_core_coll_link_list a,
.widget_plugin_evo_Calr a,
.widget_plugin_evo_Arch a,
.widget_plugin_evo_WhosOnline a,
.widget_core_user_tools a,
.widget_core_coll_item_list a {
  color: #697b94;
}
.widget_core_coll_avatar a:hover,
.widget_core_coll_tag_cloud a:hover,
.widget_core_coll_common_links a:hover,
.widget_core_coll_search_form a:hover,
.widget_core_coll_xml_feeds a:hover,
.widget_core_content_hierarchy a:hover,
.widget_core_coll_link_list a:hover,
.widget_plugin_evo_Calr a:hover,
.widget_plugin_evo_Arch a:hover,
.widget_plugin_evo_WhosOnline a:hover,
.widget_core_user_tools a:hover,
.widget_core_coll_item_list a:hover {
  color: #333;
}
.widget_core_colls_list_public,
.widget_core_colls_list_owner,
.widget_core_user_login {
  display: inline-block;
  vertical-align: top;
  margin: 15px !important;
}
.widget_core_coll_category_list,
.widget_core_coll_comment_list {
  display: inline-block;
  vertical-align: top;
  margin: 15px !important;
}
.widget_core_coll_category_list .loadimg,
.widget_core_coll_comment_list .loadimg {
  border-radius: 5px;
}
.widget_core_coll_category_list ul {
  margin-left: 25px;
}
.widget_core_coll_common_links ul {
  margin: 0px;
}
.widget_core_coll_common_links ul li {
  list-style-type: none;
  text-align: center;
}
.widget_core_coll_common_links ul li strong a {
  display: inline-block;
  padding: 10px;
  border: 1px solid #697b94;
  margin: 1px 0px;
  width: 300px;
  font-weight: normal;
  color: #697b94 !important;
  /* */
  font-style: italic;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.3s;
}
.widget_core_coll_common_links ul li strong a:hover {
  text-decoration: none !important;
}
.widget_core_coll_common_links ul li strong a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #697b94;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.widget_core_coll_common_links ul li strong a:hover,
.widget_core_coll_common_links ul li strong a:focus,
.widget_core_coll_common_links ul li strong a:active {
  color: white !important;
}
.widget_core_coll_common_links ul li strong a:hover:before,
.widget_core_coll_common_links ul li strong a:focus:before,
.widget_core_coll_common_links ul li strong a:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.search_field {
  width: 200px !important;
  height: 40px;
  border-radius: 5px 5px 5px 5px !important;
  border: 1px solid #333333;
  -webkit-transition: all 0.25s ease-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.25s ease-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.search_field:hover {
  background: #EFEFF1;
}
.search_field:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #333333;
  background: #EFEFF1;
}
.search_submit.submit.btn.btn-primary {
  height: 40px;
  background: transparent;
  cursor: pointer;
  color: #333333;
  margin: 0px;
  padding-right: 0px 11px 0px 0px;
  margin-left: -40px;
  z-index: 9999;
  position: absolute;
  border: none !important;
  border-radius: 0px 4px 4px 0px;
}
.search_submit.submit.btn.btn-primary:hover {
  color: #222;
  background: #ffffff;
  border: 1px solid #333333 !important;
}
.widget_core_coll_xml_feeds ul li,
.widget_core_content_hierarchy ul li,
.widget_core_coll_link_list ul li,
.widget_core_coll_category_list ul li,
.widget_core_coll_comment_list ul li,
.widget_plugin_evo_Arch ul li,
.widget_core_colls_list_owner ul li,
.widget_core_user_tools ul li,
.widget_core_coll_item_list ul li,
.widget_core_coll_comment_list ul li {
  list-style-type: circle;
}
.widget_core_coll_xml_feeds ul li a:hover,
.widget_core_content_hierarchy ul li a:hover,
.widget_core_coll_link_list ul li a:hover,
.widget_core_coll_category_list ul li a:hover,
.widget_core_coll_comment_list ul li a:hover,
.widget_plugin_evo_Arch ul li a:hover,
.widget_core_colls_list_owner ul li a:hover,
.widget_core_user_tools ul li a:hover,
.widget_core_coll_item_list ul li a:hover,
.widget_core_coll_comment_list ul li a:hover,
.widget_core_coll_xml_feeds .notes a:hover,
.widget_core_content_hierarchy .notes a:hover,
.widget_core_coll_link_list .notes a:hover,
.widget_core_coll_category_list .notes a:hover,
.widget_core_coll_comment_list .notes a:hover,
.widget_plugin_evo_Arch .notes a:hover,
.widget_core_colls_list_owner .notes a:hover,
.widget_core_user_tools .notes a:hover,
.widget_core_coll_item_list .notes a:hover,
.widget_core_coll_comment_list .notes a:hover,
.widget_core_coll_xml_feeds a:hover,
.widget_core_content_hierarchy a:hover,
.widget_core_coll_link_list a:hover,
.widget_core_coll_category_list a:hover,
.widget_core_coll_comment_list a:hover,
.widget_plugin_evo_Arch a:hover,
.widget_core_colls_list_owner a:hover,
.widget_core_user_tools a:hover,
.widget_core_coll_item_list a:hover,
.widget_core_coll_comment_list a:hover {
  color: #333 !important;
}
.widget_core_content_hierarchy {
  padding-top: 18px;
}
.widget_core_content_hierarchy:before {
  content: 'PAGE CONTENT';
  font-size: 22px;
  font-weight: 500px;
  color: #5d4a55;
  width: 300px;
  display: inline-block;
}
.widget_core_content_hierarchy .chapters_list {
  padding-top: 7px;
}
.widget_core_coll_comment_list ul li a {
  font-weight: normal;
  vertical-align: bottom !important;
}
.widget_core_coll_comment_list ul li a:hover {
  background-color: transparent !important;
}
.widget_core_coll_comment_list ul li a:nth-child(2) {
  font-weight: bold;
}
.widget_core_coll_comment_list ul li .user,
.widget_core_coll_comment_list ul li .user.anonymous {
  font-weight: normal !important;
}
.widget_core_breadcrumb_path {
  padding-bottom: 9px;
  font-size: 22px;
  font-weight: 500px;
  color: #222;
  border-bottom: 1px solid #eee;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.widget_core_breadcrumb_path a {
  color: #697b94 !important;
}
.widget_core_breadcrumb_path:before {
  content: 'YOU ARE HERE - ';
  text-transform: uppercase;
  color: #5d4a55 !important;
}
.widget_core_coll_media_index .widget_grid tr td {
  border: none;
}
.widget_core_coll_media_index .loadimg {
  opacity: 1;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-box-shadow: 3px 15px 5px -10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 15px 5px -10px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 15px 5px -10px rgba(0, 0, 0, 0.25);
  padding: 0px;
}
.widget_core_coll_media_index .loadimg:hover {
  opacity: 0.8;
}
.widget_core_coll_longdesc {
  width: 100%;
}
.widget_plugin_evo_Calr .bCalendarTable {
  border-radius: 5px;
  border-top: 3px solid #697b94;
  border-bottom: 3px solid #697b94;
  width: 300px;
}
.widget_plugin_evo_Calr .bCalendarTable caption {
  text-align: center;
}
.widget_plugin_evo_Calr .bCalendarTable caption a {
  font-size: 16px;
  color: #697b94 !important;
}
.widget_plugin_evo_Calr .bCalendarTable .bCalendarRow .bCalendarLinkPost {
  border: 1px solid #697b94;
  border-radius: 50%;
  color: #697b94 !important;
}
.widget_plugin_evo_Calr .bCalendarTable #bCalendarToday {
  border-radius: 50%;
  background: #697b94;
  color: white;
  border: none;
}
.widget_plugin_evo_Calr .bCalendarTable #prev a,
.widget_plugin_evo_Calr .bCalendarTable #next a {
  text-decoration: none;
}
.widget_plugin_evo_facebook {
  width: 300px;
  display: inline-block;
  text-align: center;
}
.widget_plugin_evo_facebook iframe {
  display: inline-block;
}
.evo_container__footer .featurepost {
  padding: 30px 30px;
  text-align: left;
}
.evo_container__footer h2.page-header {
  text-transform: uppercase;
  color: #5d4a55;
  font-size: 22px;
}
body.pictured .evo_container__footer .widget_core_org_members .col-lg-4 a.user_link h3 {
  font-size: 22px;
  color: #333 !important;
}
body.pictured .evo_container__footer .widget_core_org_members .col-lg-4 a.user_link h3:hover {
  color: #697b94 !important;
  text-decoration: underline;
}
img.img-responsive,
img.loadimg {
  opacity: 1;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-box-shadow: 3px 15px 5px -10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 15px 5px -10px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 15px 5px -10px rgba(0, 0, 0, 0.25);
}
img.img-responsive:hover,
img.loadimg:hover {
  opacity: 0.8;
}
.footer-wrapper {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0px !important;
  margin: 0px !important;
  font-size: 18px;
  border-top: none !important;
  box-shadow: none !important;
  background-color: #eee;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.footer-wrapper .evo_post__full {
  text-align: left;
}
.footer-wrapper a {
  text-decoration: none;
  color: #697b94 !important;
}
.footer-wrapper a:hover {
  text-decoration: underline;
}
.footer-wrapper p {
  text-decoration: none;
  color: #333;
}
.footer-wrapper .evo_widget > h3 {
  text-transform: uppercase;
  color: #5d4a55;
  font-size: 22px;
}
.footer-wrapper .evo_widget {
  width: 300px;
  display: inline-block;
  margin: 15px;
}
.evo_login_dialog_footer {
  color: white;
}
.evo_container.evo_container__header {
  text-align: center;
}
/* Responsive layout for posts */
/*@media only screen and (min-width: 1900px) {
	.front_main_area { 
		margin-top: 27%;
	}
}
@media only screen and (min-width: 1500px) {
	.front_main_content { 
		margin-top: 25%;
	}
}*/
@media only screen and (max-width: 992px) {
  .widget_core_coll_post_list ul {
    padding: 0px;
    margin: 0px;
  }
  .widget_core_coll_post_list ul li {
    text-align: center;
    list-style-type: none;
    display: block;
    vertical-align: center;
    margin: 0%;
    margin-left: 0px !important;
    width: 100% !important;
    border: 0px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .widget_core_coll_post_list ul li img {
    width: auto;
  }
  .jumbotron {
    padding: 0px;
  }
}
@media only screen and (max-width: 690px) {
  .widget {
    margin: 15px 0px !important;
    width: 100% !important;
  }
  .widget_plugin_evo_Calr .bCalendarTable {
    width: 290px;
  }
  .widget_core_coll_common_links,
  .widget_core_coll_common_links ul li strong a {
    width: 290px;
  }
}
@media only screen and (max-width: 640px) {
  .front_main_content {
    margin-top: 0% !important;
  }
  .featurepost {
    padding: 30px 10px !important;
  }
  body.disp_front .sitewide_header {
    margin-bottom: 0;
  }
  body.disp_front #bg_picture {
    position: relative;
    height: auto;
  }
  body.disp_front #bg_picture img {
    display: block;
    height: 200px;
  }
  body.disp_front div.front_main_area {
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  body.disp_front div.front_main_area .widget_core_coll_title h1 a,
  body.disp_front div.front_main_area .widget_core_coll_tagline {
    color: #333 !important;
  }
  body.disp_front div.front_main_area .widget_core_coll_title {
    margin-top: 20px;
  }
  body.disp_front .evo_container__footer {
    margin-top: -70px;
  }
  div.widget_core_coll_title h1 a,
  div.widget_core_coll_tagline {
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
  }
  body.pictured #skin_wrapper {
    height: auto;
  }
}
@media only screen and (max-width: 567px) {
  .widget_core_coll_post_list ul li img {
    max-width: 300px;
  }
  .widget_core_coll_title h1 a {
    font-size: 1.3em !important;
  }
}
@media only screen and (max-width: 482px) {
  .widget_core_coll_title h1 a {
    font-size: 1em !important;
  }
  .evo_container__footer {
    margin-top: -30px !important;
  }
  .widget_core_coll_post_list ul li {
    padding: 25px 0px;
  }
  .front_main_content {
    padding: 15px 0px !important;
  }
}
.close {
  margin-top: 5px;
}
.alert {
  text-align: left;
}
.alert a {
  color: #337ab7 !important;
}
.post_tags {
  margin-top: 2px;
  display: inline-block;
}
.post_tags p {
  display: inline-block;
  margin: 0px 5px 3px 0px;
}
.post_tags a {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #697b94;
  font-size: 12px;
  padding: 0px 5px !important;
  margin: 2px 5px 2px 0px;
  border-radius: 0px;
  font-weight: bold;
  color: #697b94;
}
.post_tags a:hover,
.post_tags a:hover:before {
  background-color: #697b94;
  color: #fff;
}
.post_tags a:before {
  color: #697b94;
}
.post_comments_link a:hover {
  color: #333;
}
.main_page_wrapper p a:hover,
.main_page_wrapper .post_comments_link a:hover {
  color: #333;
}
.main_page_wrapper .evo_post {
  padding-bottom: 36px;
}
.main_page_wrapper .evo_post h2 a {
  text-transform: uppercase;
  color: #5d4a55;
  display: inline-block;
  vertical-align: bottom;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.main_page_wrapper .evo_post h2 a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #333;
  padding-bottom: 2px;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.main_page_wrapper .evo_post h2 a:hover {
  text-decoration: none !important;
  color: #333;
}
.main_page_wrapper .evo_post h2 a:hover:before,
.main_page_wrapper .evo_post h2 a:focus:before,
.main_page_wrapper .evo_post h2 a:active:before {
  right: 0;
}
